name: build
on: [pull_request, push]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      checks: write
    steps:
      - name: checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: false
          cache-cleanup: never
      - name: setup jdk 17
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17
          java-package: jdk
      - name: build
        run: ./gradlew build

      - name: JaCoCo Code Coverage Report
        id: jacoco_reporter
        uses: PavanMudigonda/jacoco-reporter@v5.0
        with:
          coverage_results_path: build/reports/jacoco/test/jacocoTestReport.xml
          coverage_report_name: Coverage
          coverage_report_title: JaCoCo
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_check_run: false
          minimum_coverage: 80
          fail_below_threshold: false
          publish_only_summary: true
